# Server Configuration
PORT=5000
NODE_ENV=development
FRONTEND_URL=http://localhost:5173

# Database Connection (PostgreSQL)
DATABASE_URL="postgresql://neondb_owner:npg_yHxU0b3qYLQS@ep-purple-base-azlmzrlq-pooler.c-3.ap-southeast-1.aws.neon.tech/neondb?sslmode=require&channel_binding=require"

# JWT Auth & Security
JWT_ACCESS_SECRET="sdjm-high-school-secret-key-1959-access-token-security"
JWT_REFRESH_SECRET="sdjm-high-school-secret-key-1959-refresh-token-security"
JWT_ACCESS_EXPIRATION="30m"
JWT_REFRESH_EXPIRATION="7d"
JWT_REFRESH_REMEMBER_ME_EXPIRATION="30d"

# File Upload Destination
UPLOAD_DIR="./uploads"

# Transactional Communication (SMTP & SMS Gateway Mocker)
MOCK_COMMUNICATIONS_TO_LOG="true"
SMTP_HOST="smtp.gmail.com"
SMTP_PORT="587"
SMTP_USER="test-school@gmail.com"
SMTP_PASS="secretpassword"
SMTP_FROM="no-reply@sdjmt-highschool.edu.in"

# Cloudinary Production Media Configuration
CLOUDINARY_CLOUD_NAME="your_cloud_name"
CLOUDINARY_API_KEY="your_api_key"
CLOUDINARY_API_SECRET="your_api_secret"
